<!DOCTYPE html>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/menubar-final.css">
<script src="/js/index.js"></script>
<script src="/jquery-3.5.0.min.js"></script>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KEYWORD MVP SERVICE</title>
</head>
<body>
    <div id="nav">
        <h1 style="text-align: center">KEYWORD MVP SERVICE</h1>
        <ul>
            <li><a href="/keyword">키워드 분석</a></li>
            <li><a href="/margin">마진 계산기</a></li>
        </ul>
    </div>
    <div class="container">
        <div>
            <h2>- KEYWORD -</h2>
            <input type="text" id="keyword" placeholder="키워드를 입력해주세요."/>
            <button onclick="searchKeyword()">검색</button>
        </div>
    </div>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th style="background-color: lightgray;">키워드</th>
                <th style="background-color: lightgray;">월간 검색 건수</th>
                <th style="background-color: lightgray;">총 등록 건수</th>
                <th style="background-color: lightgray;">검색 경쟁률</th>
                <th style="background-color: lightgray;">월간 평균 클릭수</th>
                <th style="background-color: lightgray;">월간 평균 클릭률</th>
                <th style="background-color: lightgray;">광고 노출수</th>
                <th style="background-color: lightgray;">경쟁강도</th>
            </tr>
            </thead>
            <tbody id="resultTable">
                <!-- 검색 결과 컨텐츠 -->
            </tbody>
        </table>
    </div>
    <div id="footer">
        <nav style="text-align: center">
            <h2>건의 및 제안 : timulys@naver.com</h2>
            <span>copyright. 티뮬리스(timulys)</span>
        </nav>
    </div>
</body>
</html>